@import 'tailwindcss';

@layer base {
  :root {
    --font-body: 'Work Sans', sans-serif;
    --font-h1: 'Zalando Sans', sans-serif;
    --font-size: 16px;

    --color-base-yellow: var(--color-amber-300);
    --color-base-gray: var(--color-gray-400);
    --color-base-black: var(--color-black);
  }

  a {
    cursor: pointer;
  }

  h1 {
    @apply font-(family-name:--font-h1) text-6xl;
  }
  h2 {
    @apply my-10 text-2xl;
  }
  h3 {
    @apply mt-3 mb-2;
  }

  h1,
  h2,
  h3,
  h4 {
    @apply font-bold;
  }

  p {
    @apply my-1;
  }
}

@layer components {
  .wrapper {
    @apply mx-auto w-full max-w-[1200px];
  }
}
